body {
    width: 100%;
    height: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #000000;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 14px;
    width: 70%;
}

.redes-sociais ul li {
    margin-right: 15px;
    display: inline-block;
    float: right;
    list-style-type: none;
}

li {
    list-style-type: none;
}

.redes-sociais {
    width: 30%;
    float: right;
}